@import url(//db.onlinewebfonts.com/c/6f9f8e02d34c92c423fdda861988aba1?family=Mystery+Quest);

html {
    background-color: #10141b;
    font-family: "Comic Sans MS", serif;
    color: #fff;
    margin: 0;
}
body {
    margin: 0;
    font-family: "Comic Sans MS", serif;
}
button {
    font-family: "Comic Sans MS", serif;
}
  