.character-page-view-container {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../img/wonderland-wallpaper.jpg');
    background-position: center;
    background-size: cover;
}
.character-page-view-overlay{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    content: '';
    display: block;
    width: 100%;
}
.character-page-content{
    width: 100%;
    padding-top: 100px;
}
.character-page-name{
    font-family: "Mystery Quest";
    font-size: 60px;
    text-align: center;
    margin-top: 0px;
    cursor: default;
    margin-bottom: 30px;
}
.character-description-container{
    margin: 0px 90px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*The code for what background image is used is in the view js itself
since it needs to change depending on the character */
.character-img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: auto;
    margin-bottom: 30px;
    background-position: center top;
    background-size: cover;

}
.character-description{
    word-wrap: break-word;
    white-space: pre-line;
    text-align: justify;
    font-size: 18px;
}
.gallery-label{
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .character-description-container{
        margin: 0px 55px 0px;
    }
    
}