.history-view-cover {
    width: 100%;
    height: 500px;
    background-image: url('../../img/stars.webp');
    background-position: center;
    background-size: cover;
}
.history-view-title{
    width: 100%;
    position: absolute;
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
}
.history-view-content{
    background-color: #10141b;
    color: #fff;
    padding: 40px 250px 40px;
}
.history-view-text{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 30px;
}
